* {
  margin: 0;
  padding: 0;
}

.hero-blurb p {
  margin: 15px 0;
  line-height: 2.0rem;
}

h2 {
  line-height: 3.0rem;
}

body {
  color: white;
  text-shadow: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.nav-home {
  padding: 20px 20px;
}

.nav-btns {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
}

.nav-btn {
  margin: 10px;
  user-select: none;
  transition: color 1s;
}

.nav-btn-black {
  margin: 10px;
  user-select: none;
  transition: color 1s;
}

.nav-btn a {
  color: white;
  text-decoration: none;
}

.nav-btn a:hover {
  color: lightgreen;
  transition: color 1s;
}

.nav-btn-black a {
  color: black;
  text-decoration: none;
}

.nav-btn-black a:hover {
  color: darkgreen;
  transition: color 1s;
}

.nav-btn:hover {
  cursor: pointer;
}

.round-btn {
  background-color: white;
  border-radius: 20px;
  color: black;
  text-align: center;
  display:inline-block;
  padding: 10px;
  font-size: 1.2rem;
  user-select: none;
  opacity: 1;
  transition: opacity 1s;
}

.round-btn:hover {
  cursor: pointer;
  opacity: 0.65;
  transition: opacity 1s;
}

.round-btn-green {
  background-color: rgb(51,80,29);
  border-radius: 20px;
  color: white;
  text-align: center;
  display:inline-block;
  padding: 10px 20px;
  font-size: 1.0rem;
  user-select: none;
  opacity: 1;
  transition: opacity 1s;
}

.round-btn-green:hover {
  cursor: pointer;
  opacity: 0.65;
  transition: opacity 1s;
}

.hero-blurb {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 24px;
  width: 400px;
}

.narrative {
  background-color: rgb(200, 179, 132);
  color: black;
  font-size: 36px;
  padding: 5vw 10vw;
  text-align: center;
}

.narrative p {
  margin: 30px 0;
  line-height: 3.2rem;
}

.testimonials {
  background-color: rgb(51,80,29);
  padding: 50px;
}

.quotes-container {
  display: flex;
}

.quotes-container p {
  margin: 30px 25px 30px 0px;
  line-height: 1.75rem;
  font-size: 20px;
}

.quick-about-me {
  background-color: rgb(242,236,226);
}


.quick-about-me-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.quick-about-me-text {
  min-width: 300px;
  color: black;
  padding: 50px;
  width: 50%;
  flex: 1 1 1;
}

.quick-about-me p {
  margin: 30px 0;
  line-height: 2.2rem;
  font-size: 20px;
}

.quick-about-me-pic {
  /* min-width: 400px; */
  overflow: hidden;
  /* transform: scale(0.5,0.5) */
  flex: 1 1 1;
  width: 50%;
  object-fit: cover;
}

.product-brochure {
  background-color: rgb(200, 179, 132);
  text-align: center;
  color: black;
  padding: 40px;
}

.product-brochure-fold-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 50px auto;
}

.product-brochure-fold p {
  margin: 0 0 30px 0;
  line-height: 1.4rem;
  font-size: 18px;
}

.testimonial-single p {
  text-align: center;
  margin: 0 0 30px 0;
  line-height: 2.2rem;
  font-size: 24px;
}

.attribution {
  font-size: 20px !important;
  margin: 0 !important;
}

.subscribe-newsletter {
  background-color: rgb(34, 63, 88);
  text-align: center;
  color: white;
  padding: 40px;
}

.subscribe-box {
  background-color: white;
  text-align: center;
  margin: 15px auto;
  padding: 7px;
  border-radius: 3px;
  color: black;
  width:250px;
}

.subscribe-box p {
  margin-top: 7px;
  margin-bottom: 7px;
}

input {
  margin-right: 5px;
  padding: 3px;
}

button {
  background-color: rgb(34, 63, 88);
  border-radius: 3px;
  color: white;
  padding: 9px;
  border-style: none;
}

.fine-text {
  font-size: smaller;
}

.marquee {
  height: 50px;
  overflow: hidden;
  position: relative;
  color: white;
  border: none;
}

.marquee p {
  position: absolute;
  font-size: 24px;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 40s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
      -webkit-transform: translateX(100%);
  }
  100% {
      -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
  }
  100% {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
}

footer {
  background: black;
  color: white;
  padding: 20px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .nav-btns {
    flex-direction: column;
  }
  .quotes-container {
    flex-direction: column;
  }

  .product-brochure-fold-container {
    flex-direction: column;
  }

  .quick-about-me-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .quick-about-me-pic {
    width: 100%;
  }

  .quick-about-me-text {
    width: 90%
  }
}