* {
  margin: 0;
  padding: 0;
}

p {
  margin: 15px 0;
  line-height: 2.0rem;
}

h2 {
  line-height: 3.0rem;
}

body {
  color: white;
  text-shadow: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.nav-home {
  padding: 20px 20px;
}

.nav-btns {
  padding: 20px 20px;
  display: flex;
}

.nav-btn {
  margin: 10px;
}

.nav-btn:hover {
  cursor: pointer;
}